In [2]:
b=list(range(-200,801,2))
b

[-200,
 -198,
 -196,
 -194,
 -192,
 -190,
 -188,
 -186,
 -184,
 -182,
 -180,
 -178,
 -176,
 -174,
 -172,
 -170,
 -168,
 -166,
 -164,
 -162,
 -160,
 -158,
 -156,
 -154,
 -152,
 -150,
 -148,
 -146,
 -144,
 -142,
 -140,
 -138,
 -136,
 -134,
 -132,
 -130,
 -128,
 -126,
 -124,
 -122,
 -120,
 -118,
 -116,
 -114,
 -112,
 -110,
 -108,
 -106,
 -104,
 -102,
 -100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2,
 0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800]

In [9]:
a= [2,4,6]
b= [1,3,5]
c = [i-j for i,j in zip(a,b)]
c

[1, 1, 1]

In [10]:
list_a = [1,3,5] #subtracting two lists
list_b=[2,4,6]
[a - b for a,b in zip(list_a,list_b)]

[-1, -1, -1]

In [3]:
x=[1,2,3]
y=[4,5,6]
zipped=zip(x,y)
print(zipped)
list(zipped)

<zip object at 0x000002BF46E4CC08>

[(1, 4), (2, 5), (3, 6)]

In [19]:
type(zipped)

zip

In [4]:
a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica")

x = zip(a, b) 
print(tuple(x))

(('John', 'Jenny'), ('Charles', 'Christy'), ('Mike', 'Monica'))

In [21]:
names = ['Alice', 'Bob', 'Charlie']
ages = [24, 50, 18]

for i, (name, age) in enumerate(zip(names, ages)):
    print(i, name, age)

0 Alice 24
1 Bob 50
2 Charlie 18

In [24]:
names1= ['moe','zayd']
for i,j in enumerate(names1):
    print(i,j)
#     print(j)

0 moe
1 zayd

In [5]:
#sorting an array
numbers = [5,8,6,7]
temp=0
for i in range(len(numbers)-1):
    if numbers[i]>numbers[i+1]:
        temp= numbers[i]
        numbers[i]= numbers[i+1]
        numbers[i+1]=temp
print(numbers)

[5, 6, 7, 8]

In [6]:
#reverse sort an array
numbers.sort(reverse=True)
print(numbers)

[8, 7, 6, 5]

In [7]:
#sorted generates a new list
b=sorted(numbers)
b

[5, 6, 7, 8]

In [8]:
#gettin the length of 
leng=0
n = [[1, 2, 3], [4, 5, 6, 7, 8, 9]]
for i in n:
    leng += len(i)
print(leng)

9

In [9]:
#flatten works for 2 or more dimensional list: so for this example it does not really work
import numpy as np
n1=np.array(n)
x = n1.flatten()
print(x)

[list([1, 2, 3]) list([4, 5, 6, 7, 8, 9])]

c:\users\ronal\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  This is separate from the ipykernel package so we can avoid doing imports until

In [10]:
#here it works perfectly
a = np.array([[1,2], [3,4]])
a.flatten()

array([1, 2, 3, 4])

In [11]:
print("my name is {a}".format(a='Mohammed'))

my name is Mohammed

In [138]:
name = 'mohammed'
print(f'my name is {name}')

my name is mohammed

In [12]:
b = [1,2,3,4,5]
for index,item in enumerate(b):
    print(index)
    print(item)

0
1
1
2
2
3
3
4
4
5

In [13]:
9+5

14

In [14]:
_

14

In [15]:
a = _ +1
a

15

In [16]:
# print statements
variable = "right in the strings!"
print(f"f strings allow you to embed variables {variable}")

f strings allow you to embed variables right in the strings!

In [31]:
# how to get the lenght of multidimensional list
n = [[1, 2, 3], [4, 5, 6, 7, 8, 9]]
leng = 0
for i in n:
    leng += len(i)
print(leng)

9

In [35]:
# to flatten a list of list
b = []
for i in n:
    for j in i:
        print(j)
        b.append(j)
# print(b)

1
2
3
4
5
6
7
8
9

for i in range(start, end, step)

so if you  want to go in reverse order: start,end,-1

In [ ]:
# reversing a string:
s = ["h","e","l","l","o"]
b1= []
for i in range(len(s)-1,-1,-1):
    print(s[i])
    b1.append(s[i])
#     i -= 1
print(b1)

In [53]:
#another way to reverse a list
s1= []
s1[:] = s[::-1]
s1

['o', 'l', 'l', 'e', 'h']

In [60]:
s[:3:] # it means the first 3

['h', 'e', 'l']

In [64]:
s[3:] # from three til the end

['l', 'o']

In [65]:
s[:]

['h', 'e', 'l', 'l', 'o']

In [72]:
#converting string to list
a = "III"
b= list(map(str, a))           
print(b)

['I', 'I', 'I']

In [76]:
#converting a list to string
c = ''.join(str(i) for i in b)
c

'III'

In [84]:
s3 = str(1234)
s3

'1234'

In [85]:
s3[0]

'1'

In [81]:
#converting a number to a list: so you can separate numbers 
s = 1234
s2 = [int (i) for i in str(s)]
s2

[1, 2, 3, 4]

In [87]:
#another way to reverse a number
#s2 here is 1234
for i in range(len(s2)-1,-1,-1):
    print(i)

3
2
1
0

In [88]:
# converting a list to a set where sets does not allow duplicates
s4 = [1,2,1,3,5]
set1 = set(s4)
set1

{1, 2, 3, 5}

In [89]:
#converting a list to a tuple: it allows duplicates
tuple1 = tuple(s4)
tuple1

(1, 2, 1, 3, 5)

In [90]:
tuple1[2]

1

In [92]:
#splitting a string on spaces
sent = "this hack is wack hack"
sent1 = sent.split(" ")
sent1

['this', 'hack', 'is', 'wack', 'hack']

In [94]:
#splitting a string on -
sent = "this hack is-wack hack"
sent2 = sent.split('-')
sent2

['this hack is', 'wack hack']

In [98]:
# how to swap two variables without using a third variable
a = 5 
b = 7
a,b = b,a
a,b

(7, 5)

In [100]:
# another way
a = 5 
b = 7
a = a + b 
b = a - b
a = a-b
a,b

(7, 5)

## reversing a list of  string

In [18]:
#a list of string
s = ['h','e','l','o']
s2 = s[::-1]
s2

['o', 'l', 'e', 'h']

In [19]:
a = 'hello'
b = list(map(str,a))
b[::-1]

['o', 'l', 'l', 'e', 'h']

# converting a list to string

In [20]:
s = ['hello']
y = ' '.join(str(x) for x in s)
y

'hello'

In [21]:
y[0]

'h'

# converting a number to list

In [23]:
a = 1234
b = [int(x) for x in str(a)]
b

[1, 2, 3, 4]

In [24]:
# to reverse it 
b[::-1]

[4, 3, 2, 1]

# convert a list to a set to remove duplicates

In [25]:
x = [1,1,2,3,4]
y = set(x)
y

{1, 2, 3, 4}

# convert a list to tuple

In [26]:
z = tuple(x)
z

(1, 1, 2, 3, 4)

In [27]:
# splitting a string
x = 'hello my name'
y = x.split(' ')
y

['hello', 'my', 'name']

-------------------------------------------------------

Try summing the digits of a number.Write a function called digit_sum that takes a positive integer n as input and returns the sum of all that number’s digits. For example: digit_sum(1234) should return 10 which is 1 + 2 + 3 + 4.

In [29]:
a = 1234
count = 0
b= [int(x) for x in str(a)]
for i in b:
    count += i
count

10

### anti vowels function that prints non vowels

In [34]:
text = 'hello my name is mohammed'
vowels = "aioeuAIOEU"
text1 = ""
for i in text:
    if i not in vowels:
        text1 += i

print(text1)

hll my nm s mhmmd